In [1]:
import pandas as pd
import seaborn as sns

In [2]:
ratings = pd.read_csv("ratings.csv")
movies = pd.read_csv("movies.csv")

In [3]:
mr = pd.merge(ratings,movies,on="movieId")

In [4]:
mr.head(1)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [63]:
piv_mr = pd.pivot_table(data=mr, index='userId', columns='title' ,values='rating')
piv_mr.head(1)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN

In [66]:
interstellar = piv_mr['Interstellar (2014)']
q = piv_mr.corrwith(interstellar).sort_values(ascending=False)[0:100]
q

C:\Users\PC\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\PC\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

title
Big Year, The (2011)                         1.0
Joy (2015)                                   1.0
Open Your Eyes (Abre los ojos) (1997)        1.0
K-19: The Widowmaker (2002)                  1.0
Game Plan, The (2007)                        1.0
One Crazy Summer (1986)                      1.0
Damsels in Distress (2011)                   1.0
Human Nature (2001)                          1.0
Stuart Little 2 (2002)                       1.0
River Runs Through It, A (1992)              1.0
Odd Couple, The (1968)                       1.0
Garage Days (2002)                           1.0
Kids (1995)                                  1.0
Gas, Food, Lodging (1992)                    1.0
Babe, The (1992)                             1.0
Butch Cassidy and the Sundance Kid (1969)    1.0
Stop! Or My Mom Will Shoot (1992)            1.0
Tully (2000)                                 1.0
Changing Lanes (2002)                        1.0
Othello (1995)                               1.0
Excalibur (1981)                             1.0
Paper Towns (2015)                           1.0
Sweet November (2001)                        1.0
Suspiria (1977)                              1.0
Trance (2013)                                1.0
Paddington 2 (2017)                          1.0
Paddington (2014)                            1.0
Exam (2009)                                  1.0
Out Cold (2001)                              1.0
Futurama: Bender's Big Score (2007)          1.0
                                            ...
Elephant (2003)                              1.0
Swimming with Sharks (1995)                  1.0
Reindeer Games (2000)                        1.0
Coach Carter (2005)                          1.0
Toxic Avenger, The (1985)                    1.0
Pollock (2000)                               1.0
Beastmaster, The (1982)                      1.0
Isle of Dogs (2018)                          1.0
Basketball Diaries, The (1995)               1.0
The Spectacular Now (2013)                   1.0
Pokémon: The First Movie (1998)              1.0
The Wedding Ringer (2015)                    1.0
It Might Get Loud (2008)                     1.0
Five-Year Engagement, The (2012)             1.0
Pledge, The (2001)                           1.0
Thin Blue Line, The (1988)                   1.0
Freaky Friday (1977)                         1.0
Carnage (2011)                               1.0
Beethoven (1992)                             1.0
Thirteen (2003)                              1.0
Bear, The (Ours, L') (1988)                  1.0
The Purge: Election Year (2016)              1.0
Quest, The (1996)                            1.0
Battleship Potemkin (1925)                   1.0
Prophecy, The (1995)                         1.0
Core, The (2003)                             1.0
Informant!, The (2009)                       1.0
Pump Up the Volume (1990)                    1.0
Push (2009)                                  1.0
Priest (2011)                                1.0
Length: 100, dtype: float64

In [73]:
pivot_100 = piv_mr.dropna(axis=1, thresh=50)
interstellar = pivot_100['Interstellar (2014)']
fair_corr = pivot_100.corrwith(interstellar)
fair_corr.sort_values(ascending=False)[0:10]

C:\Users\PC\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\PC\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

title
Butch Cassidy and the Sundance Kid (1969)      1.000000
Sabrina (1995)                                 1.000000
Interstellar (2014)                            1.000000
First Knight (1995)                            1.000000
American President, The (1995)                 0.993399
Blair Witch Project, The (1999)                0.950933
Birdcage, The (1996)                           0.870388
Wallace & Gromit: The Wrong Trousers (1993)    0.864538
Philadelphia (1993)                            0.852955
Bug's Life, A (1998)                           0.849551
dtype: float64

### possible options:

- Filter films with > 10 ratings (Take out of DF), only take into consideration users with multiple reviews (more credible).
- filter out correlations -1 or 1
- work only with movies with non-nan (WORK WITH THRESHOLDS)
    i.e. threshold 100 non nan
- for each combination of movies (only work with non NaN)
- delete the NaN from the movie
- inpute the NaN by 0. (fillNA (0)).

In [ ]:
# all the correlations are based on few ratings. Need reliable ratings. we would need XD